@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
* {
	margin:0;
}

html,body {
	height:100%;
}

header {
	text-align:center;
	color: gray; 
	padding-top: 50px;

}

.arrow {
    width: 0;
    left: 50%;
    bottom: 0;
    position: fixed;
    margin-left: -40px;
    border-top: 20px solid black;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    animation: indicate 1.5s linear infinite;
}

.arrow::before {
    width: 80px;
    display: block;
    position: absolute;
    text-align: center;
    font: .75em 'sans-serif';
    content: "SCROLL DOWN";
    bottom: 25px; left: -40px;
}

@keyframes indicate {
      0% { bottom: 10% }
    100% { bottom: -10%; opacity: 0 }
}


h1{
	margin-bottom:20px;
	color: white;
	padding: 10px;
	position:fixed;
	text-align: left;
	width: 20%;

}


ul { 
	color:gray;
	padding-top:50px; } 

p{ 
	margin-bottom:20px;
	text-align: center;
	margin-top:50px;
	color:gray;
	padding-left:60px;
	padding-right:60px;
}

nav {
	height: 50px;
	width: 100%;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	z-index: 99;
	text-align:right;

}
 
nav a {
	text-decoration: none;
	color: #fff;
	line-height: 50px;
	margin-right:20px;
	width: 90%;
}

nav a:hover {
	background-color: pink;
}

.sect{
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
}

.subSection {
	height: 10%;
	background-color:white;

}

.sectOne {
	background-image:url("../image/10.jpg");
}

.sectTwo {
	background-image:url("../image/70.jpg");
}

.sectThree {
	background-image:url("../image/80.jpg");
}

footer {
	color: gray;
	text-align:center;
	height: 30px;
	padding-bottom: 20px;
}


