html { 
	font-family: 'Playfair Display', serif; 
	background-color: white;
}

header {
	width: 100%;
	background: white;
	height: 150px;

}


#container {
	width: 990px;
	height: 1600px;
	margin: 0 auto;
	padding: 50px;
	border: 1px gray solid;
}

h1 img {
	float: left;
	width: 20%;
}

li {
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	list-style-type: none;
}

a {
	text-decoration: none;
}

#main h2{
	padding-top: 40px;
	color: white solid;
	font-size: 40px;
}


#main {
	text-align: center;
	font-size:16px;
	height: 300px;
	width: 100%;
	background: url(../images/11.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  

}


#info div {
	padding:1px;
	width: 248px;
	margin:40px;
	float: left;
	padding-bottom: 60px;

}

#info div.col-1{
	width: 450px;
}

footer div {
	float: left;
	list-style-type: none;
	text-align: left;
}

footer div.col-4 {
	float: right;
	margin-right: 50px;
}

footer div.col-2 ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: 70px;
	font-size: 20px;

}

footer div.col-3 ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 20px;

}
#marketing div {
	padding:1px;
	width: 248px;
	float:left;
	margin:40px;
	text-align: center;
}

#marketing div h3{
	text-align: center;
}

#marketing div p{
	text-align: center;
}






